header {
  height: 50px;
  padding: 15px;
  background-color: #A1C084;
}

header h1 {
  font-family: Cardo, serif;
  font-size: 42px;
  /*float: left;*/
  color: #373F47;
  position: relative;
}

header h2 {
  font-family: Cardo, serif;
  font-size: 18px;
  color: #373F47;
  position: absolute;
}

header nav {
  float: right;
}

nav li {
  display: inline-block;
  padding: 0 5px;
}

:link {
  text-decoration: none;
}

body {
  background-color: #EAEFBD;
}

p {
  padding: 10px;
  font-family: "Josefin Sans";
}

.bio h1 {
  color: #373F47;
  font-family: Cardo, serif;
  font-size: 32px;
  font-weight: bold;
  padding: 15px;
}

.bio h2 {
  font-family: serif;
  font-size: 26px;
  font-weight: bold;
  padding: 15px;
  text-align: left
}

.bio p {
  width: 700px;
  font-size: 18px;
  font-family: "Josefin Sans";
}

.projects {
  text-align: center;
  vertical-align: top;
}

.projects h1 {
  color: #373F47;
  font-family: Cardo, serif;
  font-size: 32px;
  font-weight: bold;
  padding: 15px;
  text-align: left;
}

.projects article {
  display: inline-block;
  margin: 0 25px;
}

.projects p {
  font-family: "Josefin Sans";
  font-size: 14px;
}

.projects img {
  width: 300px;
  height: 200px;
  margin: 25px auto;
}

.education h1 {
  font-family: Cardo, serif;
  font-size: 32px;
  font-weight: bold;
  padding: 15px;
  text-align: left;
}

.education h2 {
  font-family: serif;
  font-size: 26px;
  font-weight: bold;
  padding: 15px;
  text-align: left
}

footer {
  background: #A1C084;
  margin-top: 50px;
  padding: 20px 0;
  text-align: center;
}

footer li {
  display: inline-block;
  padding: 0 5px;
}

footer img {
  height: 30px;
  width: 30px;
}
